#amex_cashflow_container, #amex_cashflow_calendarContainer, #amex_cashflow_calendar, #amex_cashflow_numberContainer, #amex_cashflow_pagesContainer, #amex_cashflow_pages, #amex_cashflow_droppingPageContainer, #amex_cashflow_calendarCopyContainer, #amex_cashflow_copy1, #amex_cashflow_copy2, #amex_cashflow_copy3, #amex_cashflow_endFrame, #amex_cashflow_tcs, #amex_cashflow_amexLogo01, #amex_cashflow_amexLogo02, #amex_cashflow_cta {
    position:absolute; left:0px;
}

#amex_cashflow_container {
    overflow:hidden;
}

#amex_cashflow_calendarContainer {
    overflow:hidden;
    width:110px;
    height:98px;
    left:50px;
    top:80px;
}

#amex_cashflow_calendar {
    width:110px;
    height:98px;
    z-index:1;
}

#amex_cashflow_numberContainer {
    overflow:hidden;
    width:70px;
    height:47px;
    left:10px;
    top:35px;
    z-index:2;
}

#amex_cashflow_pagesContainer {
    left:11px;
    top:40px;
    width:135px;
    height:130px;
    overflow:hidden;
}

#amex_cashflow_pages {
    left:5px;
    top:-50px;
    z-index:3;
    opacity:0;
    filter:alpha(opacity=0);
}

#amex_cashflow_droppingPageContainer {
    left:100px;
    top:-257px;
}

#amex_cashflow_copy1 {
    left:155px;
    top:130px;
    opacity:0;
    filter:alpha(opacity=0);
}

#amex_cashflow_copy2 {
    left:171px;
    top:130px;
    opacity:0;
    filter:alpha(opacity=0);
}

#amex_cashflow_endFrame {
    opacity:0;
    filter:alpha(opacity=0);
}

#amex_cashflow_copy3 {
    left:35px;
    top:15px;
}

#amex_cashflow_tcs {
    left:5px;
    top:235px;
}

#amex_cashflow_amexLogo01 {
    left:70px;
    top:100px;
    opacity:0;
    filter:alpha(opacity=0);
}

#amex_cashflow_amexLogo02 {
    left:75px;
    top:100px;
}

#amex_cashflow_cta {
    opacity:0;
    filter:alpha(opacity=0);
    cursor:pointer;
    border:0;
    z-index:-1;
}
