@charset "UTF-8";

body{
    position:absolute;
    border:0 none;
    outline:0;
    padding:0;
    margin:0;
    background: #000000;
    background-color:transparent;

    /* below improves consistancey of font rendering across browsers */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

     /* below stops FireFox rendering copy too heavily */
    -moz-osx-font-smoothing: grayscale;
}

img {
    border: none;
}

#container {
    position:absolute;
    width:300px;
    height:600px;
    top:0px;
    left:0px;
    margin:auto;
    overflow: hidden;
}

#keyline{
    position:absolute;
    top:0px;
    left:0px;
    width:300px;
    height:600px;
    z-index:399;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border:1px solid #000000;
    background-color:transparent;
}

#background {
    position:absolute;
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    background:#fff200;
}

#bgImage {
    position:absolute;
}

#cake {
    position:absolute;
    top: 190px;
    left: 67px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#copy1 {
    position:absolute;
    top: 46px;
    left: 35px;
}

#tickBox1 {
    position:absolute;
    top: 339px;
    left: 66px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#copy2 {
    position:absolute;
    top: 338px;
    left: 122px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#tickBox2 {
    position:absolute;
    top: 400px;
    left: 68px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#copy3 {
    position:absolute;
    top: 400px;
    left: 122px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#tickBox3 {
    position:absolute;
    top: 455px;
    left: 69px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#copy4 {
    position:absolute;
    top: 457px;
    left: 123px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#cursor {
    position:absolute;
    top: 272px;
    left: 310px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#incorrect {
    position:absolute;
    top: 334px;
    left: 63px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#incorrect2 {
    position:absolute;
    top: 449px;
    left: 63px;
    -webkit-transform:rotate(40deg);
        -ms-transform:rotate(40deg);
            transform:rotate(40deg);
    opacity: 0;
    filter:alpha(opacity=0);
}

#correct {
    position:absolute;
    top: 392px;
    left: 62px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#equals {
    position:absolute;
    top: 272px;
    left: 128px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#cubes {
    position:absolute;
    top: 325px;
    left: 73px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#copy5 {
    position:absolute;
    top: 481px;
    left: 93px;
    opacity: 0;
    filter:alpha(opacity=0);
}

#endFrameContainer #endFrame1 {
    position:absolute;
    opacity: 0;
    filter:alpha(opacity=0);
}

#badge {
    position:absolute;
    top: 26px;
    left: 109px;
}

#copy_endFrame1 {
    position:absolute;
    top: 125px;
    left: 28px;
}

#copy_endFrame2 {
    position:absolute;
    top: 198px;
    left: 66px;
}

#phone {
    position:absolute;
    top: 326px;
    left: 82px;
}

#terms {
    position:absolute;
    top: 559px;
    left: 23px;
}

#logo_apple {
    position:absolute;
    top: 236px;
    left: 66px;
}

#btnReplay {
    position:absolute;
    left: 11px;
    top: 7px;
    z-index:401;
    cursor: pointer;
    opacity: 0;
    filter:alpha(opacity=0);
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
