<section class="about-page">
    <section class="row">
      <section class="large-12 columns">
        <section class="nav-bar left" id="nav-left">
          <ul class="button-group">
           <li><a href="/">HOME </a></li>
           <span id="slash"> /</span>
          </ul>
        </section>
        <section class="nav-bar right" id="nav-right">
          <ul class="button-group">
            <li><a href="/about">ABOUT</a></li> /
            <li><a href="/portfolio">PORTFOLIO</a></li> /
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </section>
      </section>
    </section>
    <section class="row">
      <section class="large-9 columns" role="content">
        <article>
          <section class="content-about">
            <section id="robo-wrapper" class="paragraph-content">
              <section id="heading" class="contain"><span class="adject">I'M </span> <span class="adject">A WEB DEVELOPER| RESPONSIVE|AN HTML5 GURU|A CSS3 ADDICT|A JQUERY JUNKIE</span>
              </section>
            </section>
            <section id="robo-wrapper" class="paragraph-content">
              <section id="sub" class="contain">
                <span class="adject">
                  SPECIALISING IN SIMPLE AND EFFECTIVE WEB DESIGN
                  |
                  COVERING ALL PLATFORMS: MOBILE FIRST, WEB AND TABLET 
                  |
                  <"SECTIONS"> <"SECTIONS"> <"SECTIONS">
                  | 
                  #SECTION { AWESOME-COLORS,
                  AWESOME-FONTS }

                  | 
                  $(DOCUMENT).READY {
                   QWIRKY FUNCTIONS     
                  }
                </span>
                <section class="image-holder">
                  <img id="dev-img" class="img" src="/img/rsz_dev.png" />
                </section>
              </section>
            </section>
          </section>
        </article>
      </section>
    </section>
    <footer class="row">
      <section class="large-12 columns">
        <section class="row">
          <section class="large-6 columns">
            <ul class="inline-list">
              <li><a href="http://github.com/scully87">GITHUB</a></li>
              <li><a href="https://uk.linkedin.com/pub/tim-scully/a7/31b/b63/">LINKEDIN</a></li> 
              <li><a href="https://twitter.com/TScully87">TWITTER</a></li>
            </ul>
          </section>
          <section class="large-6 columns">
            <p>© Copyright Tim Scully 2015</p>
          </section>
        </section>
      </section>
    </footer>
</section>