<!DOCTYPE html>
<html lang="en">
<head>
  <title>H & O Digital</title>
  <!-- Studio Enabler Required -->
  <script src="http://s0.2mdn.net/ads/studio/Enabler.js" type="text/javascript"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    body {
      position:absolute;
      border:0 none;
      outline:0;
      padding:0;
      margin:0;
      background:#ffffff;
    }

    #amex_cashflow_loadingContent {
      position:absolute;
      width:300px;
      height:250px;
      top:0px;
      left:0px;
      background-color:transparent;
      z-index:10;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border:1px solid #666666;
    }

    #amex_cashflow_loadingImage {
      position:absolute;
      left:135px;
      top:110px;
    }

    #amex_cashflow_container {
      display:none;
      z-index:20;
      width:300px;
      height:250px;
      background:#000000;
    }
  </style>
  <script language="javascript">
    /* Initialize DoubleClick Enabler */
    if(Enabler.isInitialized()) {
      enablerInitHandler();
    } else {
      Enabler.addEventListener(studio.events.StudioEvent.INIT, enablerInitHandler);
    }

    /* Fired when DoubleClick Enabler is ready */
    function enablerInitHandler() {
      console.log("ENABLER INITILIZED");
      // Wait for page to load before loading in CSS and JS
      if(Enabler.isPageLoaded()) {
        pageLoadedHandler();
      } else {
        Enabler.addEventListener(studio.events.StudioEvent.PAGE_LOADED, pageLoadedHandler);
      }
    }

    /* Fired when page has loaded */
    function pageLoadedHandler() {
      console.log("PAGE LOADED");
      // Wait for page to load before loading external css and js
      if(Enabler.isVisible()){
        adVisibilityHandler();
      } else {
        Enabler.addEventListener(studio.events.StudioEvent.VISIBLE, adVisibilityHandler);
      }
    }

    /*Fired when enabler is visible. Ensures users can see the ad (https://support.google.com/richmedia/answer/2672554?hl=en-GB&ref_topic=2744444). Function then loads in banners CSS */
    function adVisibilityHandler() {
      console.log("ENABLER VISIBLE");
      // Load in banner CSS
      var extCSS = document.createElement("link");
      extCSS.setAttribute("rel", "stylesheet");
      extCSS.setAttribute("type", "text/css");
      extCSS.setAttribute("href", Enabler.getUrl("css/styles_amex_cashflow.css"));
        extCSS.onload = function() {
          cssLoadedHandler();
        }
      document.getElementsByTagName("head")[0].appendChild(extCSS);
      document.getElementById("amex_cashflow_container").style.opacity=1;
      document.getElementById("amex_cashflow_loadingImage").style.opacity=0;
      document.getElementById("amex_cashflow_container").style.display = "block";
    }

    /* Fired when the banners external CSS has been loaded */
    function cssLoadedHandler() {
      console.log("CSS LOADED");
      // start loading external JS
      loadExtJavaScript();
    }

    // array of all the external js files we want to politely load
    var arrExtJs = ["js/TweenLite.min.js", "js/CSSPlugin.min.js", "js/main_amex_cashflow.js"];
    var loadJsIndex = 0;
    /* Function loads in an external JS file */
    function loadExtJavaScript() {
      // Load in external Javascript file
      var extJavaScript = document.createElement("script");
      extJavaScript.setAttribute("type", "text/javascript");
      extJavaScript.setAttribute("src", Enabler.getUrl(arrExtJs[loadJsIndex]));
        extJavaScript.onload = function() {
          jsLoadedHandler();
        }
      document.getElementsByTagName("head")[0].appendChild(extJavaScript);
    }

    /* Fired when an External JS file has been loaded */
    function jsLoadedHandler() {
      console.log("JS LOADED (" + arrExtJs[loadJsIndex] + ")");

      loadJsIndex++;

      if(loadJsIndex < arrExtJs.length) {
        loadExtJavaScript(); // load next JS file
      } else {
        startAd(); // start ad
      }
    }
  </script>
</head>
<body>
    <div id="amex_cashflow_loadingContent"><!-- Loading Animation -->
          <div id="amex_cashflow_loadingImage">
            <img src="http://amex.temp.ogilvyeurope.com/201511/Amex_Banner_Test/Amex_Small_Business/images/loading.gif" alt="ad loading">
          </div>
    </div>
    <div id="amex_cashflow_container">
        <div id="amex_cashflow_calendarContainer">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/cal.png" id="amex_cashflow_calendar" alt="">
            <div id="amex_cashflow_numberContainer">
                <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/numberflips.gif" id="amex_cashflow_numbers" alt="">
            </div>
        </div>
        <div id="amex_cashflow_pagesContainer">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/pages.png" id="amex_cashflow_pages" alt="">
        </div>
        <div id="amex_cashflow_droppingPageContainer">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage1" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage2" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage3" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage4" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage5" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage6" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage7" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage8" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage9" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/droppingPage.png" id="amex_cashflow_droppingPage10" alt="">
        </div>
        <div id="amex_cashflow_calendarCopyContainer">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/copy1.png" id="amex_cashflow_copy1" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/copy2.png" id="amex_cashflow_copy2" alt="">
        </div>
        <div id="amex_cashflow_endFrame">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/copy3.png" id="amex_cashflow_copy3" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/TCs.png" id="amex_cashflow_tcs" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/amexLogo01.png" id="amex_cashflow_amexLogo01" alt="">
            <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/amexLogo02.png" id="amex_cashflow_amexLogo02" alt="">
            <a href="#" target="_blank">
                <img src="http://amex.temp.ogilvyeurope.com/201512/Testing/Amex_Cashflow_Retargeting/images/cta.png" id="amex_cashflow_cta" alt="Apply">
            </a>
        </div>
    </div>
</body>
</html>
