<section class="contact-page">
  <section class="row">
    <section class="large-12 columns">
      <section class="nav-bar left" id="nav-left">
       <ul class="button-group">
         <li><a href="/">HOME</a></li>
         <section id="slash"> /</section>
        </ul>
      </section>
      <section class="nav-bar right" id="nav-right">
        <ul class="button-group">
          <li><a href="/about">ABOUT</a></li> /
          <li><a href="/portfolio">PORTFOLIO</a></li> /
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </section>
    </section>
  </section>
  <section class="row">
    <section class="large-9 columns">
      <article>
        <section class="content-contact">
          <p id="enquire">FOR ALL ENQUIRES: </p>
          <p id="email">SCULLY87.TS@GMAIL.COM</p>
        </section>
      </article>
    </section>
  </section>
  <footer class="row">
    <section class="large-12 columns">
      <section class="row">
        <section class="large-6 columns">
          <ul class="inline-list">
            <li><a href="http://github.com/scully87">GITHUB</a></li>
            <li><a href="https://uk.linkedin.com/pub/tim-scully/a7/31b/b63/">LINKEDIN</a></li> 
            <li><a href="https://twitter.com/TScully87">TWITTER</a></li>
          </ul>
        </section>
        <section class="large-6 columns">
          <p>© Copyright Tim Scully 2015</p>
        </section>
      </section>
    </section>
  </footer>
</section>