<!DOCTYPE html>
<html lang="en">
<head>
    <title>EY</title>

    <!-- Studio Enabler Required -->
    <script src="http://s0.2mdn.net/ads/studio/Enabler.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        body{
            position:absolute;
            border:0 none;
            outline:0;
            padding:0;
            margin:0;
            background-color: #fff200;
        }

        #ey_loadingContent{
            position:absolute;
            width:300px;
            height:600px;
            top:0px;
            left:0px;
            background-color:transparent;
            z-index:10;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border:1px solid #666666;
        }
        #ey_loadingImage{
            position:absolute;
            left:135px;
            top:285px;
        }

        #ey_container{
            display:none;
            z-index:20;
            overflow: hidden;
            width:300px;
            height:600px;
        }
      @charset "UTF-8";#ey_container,#ey_keyline{width:300px;height:600px;left:0}#ey_EYlogo,#ey_copy_frame01,#ey_copyright,#ey_ctaBtn,#ey_hashtag,#ey_yellowBlock1,#ey_yellowBlock2,#ey_yellowBlock3{opacity:0;filter:alpha(opacity=0)}:focus,body{outline:0}body{position:absolute;border:0;padding:0;margin:0;background:0 0}img{border:none}#ey_EYlogo,#ey_background,#ey_bgImage,#ey_btnReplay,#ey_container,#ey_copy_frame01,#ey_copy_frame02,#ey_copy_frame03,#ey_copy_frame04,#ey_copyright,#ey_ctaBtn,#ey_ctaBtnInner,#ey_frameBottom,#ey_frameEnd1,#ey_frameEnd1img,#ey_frameEnd2,#ey_frameEnd2img,#ey_frameEnd3,#ey_frameEnd3img,#ey_frameLeft,#ey_frameRight,#ey_frameRightImg,#ey_frameTop,#ey_frameTopImg,#ey_hashtag,#ey_keyline,#ey_yellowBlock1,#ey_yellowBlock2,#ey_yellowBlock3,#ey_yellowFill,#ey_yellowFillBlock,#ey_yellowFillTop,#ey_yellowFrame{position:absolute;left:0}#ey_copyright,#ey_ctaBtn,#ey_hashtag,#ey_yellowFrame{left:20px;position:absolute}#ey_container{position:absolute;top:0;margin:auto;overflow:hidden}#ey_keyline{position:absolute;top:0;z-index:399;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border:1px solid #666;background-color:transparent}#ey_background{position:absolute;width:100%;height:100%;top:0;left:0;background:#000}#ey_bgImage{position:absolute;top:200px;left:-30px}#ey_EYlogo{position:absolute;left:199px;top:469px;width:72px;height:82px}#ey_copy_frame01{position:absolute;left:47px;top:85px;width:150px}#ey_copy_frame02,#ey_copy_frame03,#ey_copy_frame04{position:absolute;left:34px;top:78px;width:150px;opacity:0;filter:alpha(opacity=0)}#ey_ctaBtn{top:169px}#ey_ctaBtnInner{position:absolute;left:0;top:0;width:150px;height:28px}#ey_hashtag{top:205px;width:116px;height:24px}#ey_yellowFrame{top:30px;width:193px;height:193px}#ey_frameBottom{position:absolute;overflow:hidden;top:174px;width:0;height:20px}#ey_frameRight{position:absolute;overflow:hidden;left:249px;height:195px;width:20px;top:189px}#ey_frameRightImg{position:absolute;top:-195px}#ey_frameTop{position:absolute;overflow:hidden;top:-6px;width:260px;height:50px;left:265px}#ey_frameTopImg{position:absolute;width:260px;height:50px;left:-265px;top:-1px}#ey_frameLeft{position:absolute;overflow:hidden;top:32px;left:0;height:0}#ey_yellowFill{position:absolute;overflow:hidden;top:0;left:0;width:260px;height:189px}#ey_yellowFillTop{position:absolute;top:203px;left:43px;width:213px;height:35px}#ey_yellowFillBlock{position:absolute;display:block;top:237px;left:0;width:100%;height:190px;background-color:#ffe600}#ey_yellowBlock1,#ey_yellowBlock2,#ey_yellowBlock3{position:absolute;display:block;width:10px;height:10px;font-size:2px;line-height:2px;background-color:#ffe600;top:90px;left:20px}#ey_frameEnd1,#ey_frameEnd2,#ey_frameEnd3{position:absolute;overflow:hidden;width:0;height:20px;top:114px;left:19px}#ey_frameEnd1img,#ey_frameEnd2img,#ey_frameEnd3img{position:absolute;top:0;left:0}#ey_copyright{top:568px}#ey_btnReplay{position:absolute;left:5px;top:5px;display:none;z-index:401;cursor:pointer}::-moz-focus-inner{border:0}
    </style>


    <script language="javascript">
        /**
        * Initialize DoubleClick Enabler
        */
        if(Enabler.isInitialized())
        {
            enablerInitHandler();
        }
        else
        {
            Enabler.addEventListener(studio.events.StudioEvent.INIT, enablerInitHandler);
        }

        /**
        * Fired when DoubleClick Enabler is ready
        */
        function enablerInitHandler()
        {
            console.log('ENABLER INITILIZED');

            // Wait for page to load before loading in CSS and JS
            if(Enabler.isPageLoaded())
            {
                pageLoadedHandler();
            }
            else
            {
                Enabler.addEventListener(studio.events.StudioEvent.PAGE_LOADED, pageLoadedHandler);
            }
        }

        /**
        * Fired when page has loaded
        */
        function pageLoadedHandler()
        {
            console.log('PAGE LOADED');

            // Wait for page to load before loading external css and js
            if(Enabler.isVisible())
            {
                adVisibilityHandler();
            }
            else
            {
                Enabler.addEventListener(studio.events.StudioEvent.VISIBLE, adVisibilityHandler);
            }
        }

        /**
        * Fired when enabler is visible. Ensures users can see the ad (https://support.google.com/richmedia/answer/2672554?hl=en-GB&ref_topic=2744444).
        * Function then loads the DoubleClick youtube component js
        */
        function adVisibilityHandler()
        {
            console.log('ENABLER VISIBLE');

            // Load in banner CSS
            var extCSS = document.createElement("link");
            extCSS.setAttribute("rel", "stylesheet");
            extCSS.setAttribute("type", "text/css");
            extCSS.setAttribute("href", Enabler.getUrl("css/styles_philips.css"));
                extCSS.onload = function()
                {
                    cssLoadedHandler();
                }

            document.getElementsByTagName("head")[0].appendChild(extCSS);
            document.getElementById("ey_container").style.opacity=1;
            document.getElementById("ey_loadingImage").style.opacity=0;
            document.getElementById("ey_container").style.display = "block";
        }

        /**
        * Fired when the banners external CSS has been loaded
        */
        function cssLoadedHandler()
        {
            console.log("CSS LOADED");

            // start loading external JS
            loadExtJavaScript();
        }


        // array of all the external js files we want to politely load
        var arrExtJs = ["js/TweenLite.min.js", "js/CSSPlugin.min.js", "js/main_ey.js"];
        var loadJsIndex = 0;

        /**
        * Function loads in an external JS file
        */
        function loadExtJavaScript()
        {
            // Load in external Javascript file
            var extJavaScript = document.createElement("script");
            extJavaScript.setAttribute("type", "text/javascript");
            extJavaScript.setAttribute("src", Enabler.getUrl(arrExtJs[loadJsIndex]));
                extJavaScript.onload = function()
                {
                    jsLoadedHandler();
                }
            document.getElementsByTagName("head")[0].appendChild(extJavaScript);
        }


        /**
        * Fired when an External JS file has been loaded
        */
        function jsLoadedHandler()
        {
            console.log("JS LOADED (" + arrExtJs[loadJsIndex] + ")");

            loadJsIndex++;

            if(loadJsIndex < arrExtJs.length)
            {
                loadExtJavaScript(); // load next JS file
            }
            else
            {
                startAd(); // start ad
            }
        }

    </script>
    <script type="text/javascript">
        var clickTag = "http://www.ey.com";
    </script>


</head>
<body>
    <div id="ey_loadingContent"><!-- Loading Animation -->
        <div id="ey_loadingImage">
               <img src="http://philips.temp.ogilvyeurope.com/201511/2015-11-25-001-TS/accelerated/PHILIPS_MBBanner_Accelerated_US_EN_728x90_HTML5_DC_15S_1L_150KB/loading.gif" alt="ad loading">
        </div>
    </div>
    <div id="ey_container">

        <a href="javascript:window.open(window.clickTag, '_blank')">

            <div id="ey_keyline"></div>

            <div id="ey_background"></div>

            <!-- bg image -->
            <img id="ey_bgImage" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/bgImage_300x600.jpg" alt="">

            <!-- logo -->
            <img id="ey_EYlogo" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/logo_ey.svg" alt="EY">



            <!-- single draw blocks -->
            <div id="ey_yellowBlock1">&nbsp;</div>
            <div id="ey_yellowBlock2">&nbsp;</div>
            <div id="ey_yellowBlock3">&nbsp;</div>

            <div id="ey_frameEnd1"><img id="ey_frameEnd1img" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/copy/copy-endframe2.png" alt=""></div>
            <div id="ey_frameEnd2"><img id="ey_frameEnd2img" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/copy/copy-endframe3.png" alt=""></div>
            <div id="ey_frameEnd3"><img id="ey_frameEnd3img" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/copy/copy-endframe4.png" alt=""></div>


            <div id="ey_yellowFrame">

                <div id="ey_yellowFill">
                    <img id="ey_yellowFillTop" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/frames/frame_yellowfill.png" alt="">
                    <div id="ey_yellowFillBlock">&nbsp;</div>
                </div>

                <div id="ey_frameBottom"><img id="ey_frameBottomImg" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/frames/frame_bottom.svg" alt=""></div>
                <div id="ey_frameRight"><img id="ey_frameRightImg" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/frames/frame_right.svg" alt=""></div>
                <div id="ey_frameTop"><img id="ey_frameTopImg" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/frames/frame_top.svg" alt=""></div>
                <div id="ey_frameLeft"><img id="ey_frameLeftImg" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/frames/frame_left.svg" alt=""></div>


            </div>


            <!-- frame01 copy -->
            <div id="ey_copy_frame01"><img src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/copy/copy1.png" alt=""></div>
            <div id="ey_copy_frame02"><img src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/copy/copy2.png" alt=""></div>
            <div id="ey_copy_frame03"><img src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/copy/copy3.png" alt=""></div>
            <div id="ey_copy_frame04"><img src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/copy/copy4.png" alt=""></div>





            <!-- cta btn -->
            <div id="ey_ctaBtn">
                <img id="ey_ctaBtnInner" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/cta.svg" alt="">
            </div>

            <!-- hashtag -->
            <img id="ey_hashtag" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/copy/hashtag.svg" alt="Better Questions">

            <!-- copyright -->
            <img id="ey_copyright" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/svgs/copy/copyright.png" alt="Copyright 2016 EYGM Limited. All Rights Reserved.">

        </a>

        <!-- replay btn -->
        <img id="ey_btnReplay" src="http://ey.temp.ogilvyeurope.com/201512/782217740_EY_CNBC-Sponsorship_HTML_Banners_Q3_2015/EY_CNBC_UK_EN_300x600_HTML5_DCM_20S_1L_200KB/btnReplay.png" alt="">

     </div>
</body>
</html>

