<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar left" id="nav-left">
     <ul class="button-group">
       <li><a href="#">HOME</a></li>
      </ul>
    </div>
    <div class="nav-bar right" id="nav-right">
     <ul class="button-group">
       <li><a href="#">ABOUT</a></li> /
       <li><a href="#">PORTFOLIO</a></li> /
       <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-9 columns" role="content">
    <article>
      <section class="content">
        <p id="name"></p>
        <p id="dev"></p>
        <span>
          <p id="made"></p>
        </span>
      </section>
    </article>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <ul class="inline-list">
          <li><a href="#">GITHUB</a></li>
          <li><a href="#">LINKEDIN</a></li> 
          <li><a href="#">TWITTER</a></li>
        </ul>
      </div>
      <div class="large-6 columns">
        <p>© Copyright Tim Scully 2015</p>
      </div>
    </div>
  </div>
</footer>
    