<table id="container-index" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 0 0 0 20px;">&nbsp;</td>
          <td valign="top" align="left">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td width="40%" class="copy-nav" valign="top" align="left">
                  <a href="/" style="color: #ffffff; text-decoration: none;">
                    Tim Scully
                  </a>
                </td>
                <td width="35%" class="copy-nav" valign="top" align="left">
                  <a href="/portfolio" style="color: #ffffff; text-decoration: none;">
                    Portfolio
                  </a>
                </td>
                <td id="email-icon" width="10%" class="copy-nav" valign="middle" align="left">
                  <a href="mailto:scully87.ts@gmail.com" style="color: #ffffff; text-decoration: none;">
                    <img src="img/email-icon.png" alt="" width="40" height="40">
                  </a>
                </td>
                <td id="linkedin" width="10%" class="copy-nav" valign="middle" align="left">
                  <a href="https://uk.linkedin.com/in/scully87" target="_blank" style="color: #ffffff; text-decoration: none;">
                    <img src="img/linkedin1.png" alt="" width="40" height="40">
                  </a>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top" align="left" style="padding: 0 20px 0 0;">&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
        <tr>
          <td valign="top" align="left">
            <div id="animation-container" class="copy-animation">
              <div id="copy-1-container">
                <div id="copy-1">
                  I'm a Web Developer
                </div>
              </div>
              <div id="copy-2-container">
                <div id="copy-2a">
                  Specialising in
                </div>
                <div id="copy-2b">
                  simple and effective
                </div>
                <div id="copy-2c">
                  web builds
                </div>
              </div>
              <div id="copy-3-container">
                <div id="copy-3a">
                  Responsive emails
                </div>
                <div id="copy-3b">
                  with cross
                </div>
                <div id="copy-3c">
                  platform rendering
                </div>
              </div>
              <div id="copy-4-container">
                <div id="copy-4a">
                  HTML 5 Banners
                </div>
                <div id="copy-4b">
                  with animations of
                </div>
                <div id="copy-4c">
                  all shapes and sizes
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="center">
            <table border="0" align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
              <tr>
                <td valign="top" align="left" style="padding:10px 10px 10px 10px;">&nbsp;</td>
                <td id="dev-image-container" class="fluid" valign="top" align="left" style="padding:50px 0 0 0;">
                  <img class="fluid" src="img/rsz_dev.png" alt="">
                </td>
                <td valign="top" align="left" style="padding:10px 10px 10px 10px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<script type="text/javascript">
  startAnimation();
</script>
