<!DOCTYPE html>
<html lang="en">
<head>
    <title>Philips</title>

    <!-- Studio Enabler Required -->
    <script src="http://s0.2mdn.net/ads/studio/Enabler.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        body{
            position:absolute;
            border:0 none;
            outline:0;
            padding:0;
            margin:0;
            background-color: #ffffff;
        }

        #philips_loadingContent{
            position:absolute;
            width:728px;
            height:90px;
            top:0px;
            left:0px;
            background-color:transparent;
            z-index:10;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border:1px solid #666666;
        }
        #philips_loadingImage{
            position:absolute;
            left:349px;
            top:30px;
        }

        #philips_container{
            display:none;
            z-index:20;
            overflow: hidden;
            width:728px;
            height:90px;
        }
    </style>

    <script language="javascript">
        /**
        * Initialize DoubleClick Enabler
        */
        if(Enabler.isInitialized())
        {
            enablerInitHandler();
        }
        else
        {
            Enabler.addEventListener(studio.events.StudioEvent.INIT, enablerInitHandler);
        }

        /**
        * Fired when DoubleClick Enabler is ready
        */
        function enablerInitHandler()
        {
            console.log('ENABLER INITILIZED');

            // Wait for page to load before loading in CSS and JS
            if(Enabler.isPageLoaded())
            {
                pageLoadedHandler();
            }
            else
            {
                Enabler.addEventListener(studio.events.StudioEvent.PAGE_LOADED, pageLoadedHandler);
            }
        }

        /**
        * Fired when page has loaded
        */
        function pageLoadedHandler()
        {
            console.log('PAGE LOADED');

            // Wait for page to load before loading external css and js
            if(Enabler.isVisible())
            {
                adVisibilityHandler();
            }
            else
            {
                Enabler.addEventListener(studio.events.StudioEvent.VISIBLE, adVisibilityHandler);
            }
        }

        /**
        * Fired when enabler is visible. Ensures users can see the ad (https://support.google.com/richmedia/answer/2672554?hl=en-GB&ref_topic=2744444).
        * Function then loads the DoubleClick youtube component js
        */
        function adVisibilityHandler()
        {
            console.log('ENABLER VISIBLE');

            // Load in banner CSS
            var extCSS = document.createElement("link");
            extCSS.setAttribute("rel", "stylesheet");
            extCSS.setAttribute("type", "text/css");
            extCSS.setAttribute("href", Enabler.getUrl("css/styles_philips.css"));
                extCSS.onload = function()
                {
                    cssLoadedHandler();
                }

            document.getElementsByTagName("head")[0].appendChild(extCSS);
            document.getElementById("philips_container").style.opacity=1;
            document.getElementById("philips_loadingImage").style.opacity=0;
            document.getElementById("philips_container").style.display = "block";
        }

        /**
        * Fired when the banners external CSS has been loaded
        */
        function cssLoadedHandler()
        {
            console.log("CSS LOADED");

            // start loading external JS
            loadExtJavaScript();
        }


        // array of all the external js files we want to politely load
        var arrExtJs = ["js/TweenLite.min.js", "js/CSSPlugin.min.js", "js/main_philips.js"];
        var loadJsIndex = 0;

        /**
        * Function loads in an external JS file
        */
        function loadExtJavaScript()
        {
            // Load in external Javascript file
            var extJavaScript = document.createElement("script");
            extJavaScript.setAttribute("type", "text/javascript");
            extJavaScript.setAttribute("src", Enabler.getUrl(arrExtJs[loadJsIndex]));
                extJavaScript.onload = function()
                {
                    jsLoadedHandler();
                }
            document.getElementsByTagName("head")[0].appendChild(extJavaScript);
        }


        /**
        * Fired when an External JS file has been loaded
        */
        function jsLoadedHandler()
        {
            console.log("JS LOADED (" + arrExtJs[loadJsIndex] + ")");

            loadJsIndex++;

            if(loadJsIndex < arrExtJs.length)
            {
                loadExtJavaScript(); // load next JS file
            }
            else
            {
                startAd(); // start ad
            }
        }

    </script>


</head>
<body>
    <div id="philips_loadingContent"><!-- Loading Animation -->
        <div id="philips_loadingImage">
               <img src="http://philips.temp.ogilvyeurope.com/201511/2015-11-25-001-TS/accelerated/PHILIPS_MBBanner_Accelerated_US_EN_728x90_HTML5_DC_15S_1L_150KB/images/loading.gif" alt="ad loading">
        </div>
    </div>
    <div id="philips_container">

        <button id="philips_exitBtn"></button>

        <div id="philips_background"></div>

        <!-- main image -->
        <img id="philips_bgImage" src="http://philips.temp.ogilvyeurope.com/201511/2015-11-25-001-TS/accelerated/PHILIPS_MBBanner_Accelerated_US_EN_728x90_HTML5_DC_15S_1L_150KB/images/bgImage_placeholder_728x90.png" alt="">

        <!-- video bg -->
        <div id="philips_videoBg"></div>

        <!-- image masker-->
        <img id="philips_bgImageMasker" src="http://philips.temp.ogilvyeurope.com/201511/2015-11-25-001-TS/accelerated/PHILIPS_MBBanner_Accelerated_US_EN_728x90_HTML5_DC_15S_1L_150KB/images/bgImageMasker.png" width="728" height="90" alt="">

        <!-- logos -->
        <img id="philips_logoPhilips02" src="http://philips.temp.ogilvyeurope.com/201511/2015-11-25-001-TS/accelerated/PHILIPS_MBBanner_Accelerated_US_EN_728x90_HTML5_DC_15S_1L_150KB/images/logoPhilips02.png" alt="Philips">
        <img id="philips_logoInnovation" src="http://philips.temp.ogilvyeurope.com/201511/2015-11-25-001-TS/accelerated/PHILIPS_MBBanner_Accelerated_US_EN_728x90_HTML5_DC_15S_1L_150KB/images/logoInnovation.png" alt="innovation you">

        <!-- frame01 copy -->
        <div id="philips_frame01_copy" class="boldme">We're providing mobile<br/>mammograms in<br/>remote parts of India</div>

        <!-- frame02 copy -->
        <div id="philips_frame02_copy" class="boldme">Then transferring the<br/>scans to hospitals for<br/>real time analysis</div>

        <!-- frame03 copy -->
        <div id="philips_frame03_copy" class="boldme">Making it possible to<br/>diagnose breast cancer<br/>thousands of miles away</div>

        <!-- frame04 copy -->
        <div id="philips_frame04_copy" class="boldme">Our innovation is helping women<br/> access better healthcare</div>

        <!-- Youtube Video -->
        <div id="philips_videoWrapper">
            <div id="philips_youTubeVideo"></div>
        </div>

        <!-- cta -->
        <div id="philips_exitCta">
            <div id="philips_exitCta_copy">Discover the full story <span class="boldme">&#62;</span></div>
        </div>

    </div>
</body>
</html>
