<table id="container-portfolio" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 0 0 0 20px;">&nbsp;</td>
          <td valign="top" align="left">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td class="copy-nav" valign="top" align="left">
                  <a href="/" style="color: #ffffff; text-decoration: none;">
                    Tim Scully
                  </a>
                </td>
                <td id="portfolio" class="copy-nav" valign="top" align="left">
                  <a href="/portfolio" style="color: #ffffff; text-decoration: none;">
                    Portfolio
                  </a>
                </td>
                <td id="email-icon" class="copy-nav" valign="middle" align="left">
                  <a href="mailto:scully87.ts@gmail.com" style="color: #ffffff; text-decoration: none;">
                    <img src="img/email-icon.png" alt="" width="40" height="40">
                  </a>
                </td>
                <td id="linkedin" class="copy-nav" valign="middle" align="left">
                  <a href="https://uk.linkedin.com/in/scully87" target="_blank" style="color: #ffffff; text-decoration: none;">
                    <img src="img/linkedin1.png" alt="" width="40" height="40">
                  </a>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top" align="left" style="padding: 0 20px 0 0;">&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="width: 100%; height:100%;">
        <tr>
          <td valign="top" align="left">
            <table class="fluid" width="50%" border="0" align="left" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" align="center">
                  <div id="emails-container">
                    <h3>Responsive Emails</h3>
                    <div id="email-1" class="copy-portfolio hvr-rotate-1">
                      <a href="https://s3-eu-west-1.amazonaws.com/btvfm/index.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        VFM Engagement BT
                      </a>
                    </div>
                    <div id="email-2" class="copy-portfolio hvr-rotate-2">
                      <a href="https://s3.amazonaws.com/timscullysite/BT_Black_Friday/black_friday_acq_copper.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        Black Friday Sale BT
                      </a>
                    </div>
                    <div id="email-3" class="copy-portfolio hvr-rotate-1">
                      <a href="https://s3.amazonaws.com/timscullysite/Amex_Beyonce_Presale/GBR_ICSS_BEYONCEreserved_9FEB2016_021115.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        Beyonce Presale Amex
                      </a>
                    </div>
                    <div id="email-4" class="copy-portfolio hvr-rotate-2">
                      <a href="https://s3.amazonaws.com/timscullysite/BT_Email_AMC/Acq_3544.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        AMC Fear of the Walking Dead
                      </a>
                    </div>
                    <div id="email-5" class="copy-portfolio hvr-rotate-1">
                      <a href="https://s3.amazonaws.com/timscullysite/BT_Spring_T2/BT_Spring_T2_EM_BB_AF_FA_Generic.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        BT Mobile Spring
                      </a>
                    </div>
                    <div id="email-6" class="copy-portfolio hvr-rotate-2">
                      <a href="https://s3.amazonaws.com/timscullysite/AMEX_Summerset_House_Invites/GBR_ICSS_CMSmultiproduct_SSPresale_15MAR2016_150316.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        Summerset House Invites
                      </a>
                    </div>
                    <div id="email-7" class="copy-portfolio hvr-rotate-1">
                      <a href="https://s3.amazonaws.com/timscullysite/BT_Mobile_Xmas/index.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        BT Mobile Christmas
                      </a>
                    </div>
                    <div id="email-8" class="copy-portfolio hvr-rotate-2">
                      <a href="https://s3.amazonaws.com/timscullysite/Amex_National_Theatre_Presale/GBR_ICSS_CMSmultiproduct_NTPresale_01MAR2016_010316.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        National Theatre Presale
                      </a>
                    </div>
                    <div id="email-9" class="copy-portfolio hvr-rotate-1">
                      <a href="https://s3.amazonaws.com/timscullysite/Amex_embedded_vid/index.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        Apple Pay Mobile Amex
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            <table class="fluid" width="50%" border="0" align="left" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top" align="center">
                  <div id="emails-container">
                    <h3>HTML5 Banners</h3>
                    <div id="banner-1" class="copy-portfolio hvr-rotate-1">
                      <a href="https://s3.amazonaws.com/timscullysite/EY_BBWW_Global/_PreviewSite/index_UK_EN.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        EY BBWW Global Campaign
                      </a>
                    </div>
                    <div id="banner-2" class="copy-portfolio hvr-rotate-2">
                      <a href="https://s3.amazonaws.com/timscullysite/Philips_S5000/index.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        Philips S5000
                      </a>
                    </div>
                    <div id="banner-3" class="copy-portfolio hvr-rotate-1">
                      <a href="https://s3.amazonaws.com/timscullysite/PHE_Sugar_Smart/index.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        PHE Sugar Smart
                      </a>
                    </div>
                    <div id="banner-4" class="copy-portfolio hvr-rotate-2">
                      <a href="https://s3.amazonaws.com/timscullysite/Amex_ATO_Gold/index.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        Amex ATO Gold
                      </a>
                    </div>
                    <div id="banner-5" class="copy-portfolio hvr-rotate-1">
                      <a href="https://s3.amazonaws.com/timscullysite/Amex_Ibizia/index.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        Amex Rewards Ibiza
                      </a>
                    </div>
                    <div id="banner-6" class="copy-portfolio hvr-rotate-2">
                      <a href="https://s3.amazonaws.com/timscullysite/Cabinet_Office/index.html" target="_blank" style="color: #ffffff; text-decoration: none;">
                        Cabinet Office
                      </a>
                    </div>
                    <h3>Websites</h3>
                  </div>
                  <div id="website-container" style="margin-top:10px; margin-bottom:50px;">
                    <div id="website-1" class="copy-portfolio hvr-rotate-2">
                      <a href="http://homesteadinventories.co.uk" target="_blank" style="color: #ffffff; text-decoration: none;">
                        Homestead Inventories
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
