<main class="portfolio-page">
  <header class="row">
    <section class="large-12 columns">
      <nav class="nav-bar left" id="nav-left">
        <ul class="button-group">
          <li><a href="/">TIM SCULLY</a></li>
        </ul>
      </nav>
      <nav class="nav-bar right" id="nav-right">
        <ul class="button-group">
          <li><a href="/portfolio">PORTFOLIO</a>&nbsp;/&nbsp;</li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
    </section>
  </header>
  <section id="main" class="row">
    <section class="large-9 columns">
      <article>
        <section class="content-portfolio">
          <br><a href="https://fast-meadow-6272.herokuapp.com/" id="port">REWARDR</a><br>
          <a href="http://chittr-chittr.herokuapp.com" id="port">CHITTR</a><br>
          <a href="https://www.youtube.com/watch?v=sUN0YaqLpF8&list=UU1NQjRun26caQPa6D6j3dsg" id="port">BADGR</a><br>
          <a href="http://realgeo.herokuapp.com" id="port">GEOMAPPER</a><br>
        </section>
      </article>
    </section>
  </section>
  <footer class="row">
    <section class="large-12 columns">
      <section class="row">
        <section class="large-6 columns">
          <ul class="inline-list">
            <li><a href="http://github.com/scully87">GITHUB</a></li>
            <li><a href="https://uk.linkedin.com/pub/tim-scully/a7/31b/b63/">LINKEDIN</a></li> 
            <li><a href="https://twitter.com/TScully87">TWITTER</a></li>
          </ul>
        </section>
        <section class="large-6 columns">
          <p>© Copyright Tim Scully 2015</p>
        </section>
      </section>
    </section>
  </footer>
</main>